* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;

	background: transparent;

	font-family: inherit;

	text-decoration: none;
}

ol,
ul,
li {
	list-style: none;
	display: block;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

a img {
	border: none;
}

button,
a {
	cursor: pointer;
	color: inherit;
}

textarea {
	resize: none;
}

button,
input,
textarea,
select {
	appearance: none !important;
	-webkit-appearance: none !important;
	border-radius: 0;
}

.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	border: 1px solid silver;

	display: flex;
}

.nowrap {
	flex-wrap: nowrap;
	flex-direction: column;
	flex-direction: row;
	flex-direction: column-reverse;
	flex-direction: row-reverse;
}

.wrap {
	flex-wrap: wrap;
}
.wrap li {
	background: gold;
}

.wrap-reverse {
	flex-wrap: wrap-reverse;
}
.wrap-reverse li {
	background: deepskyblue;
}

.flex-item {
	background: tomato;
	padding: 5px;
	width: 100px;
	height: 100px;
	margin: 10px;

	line-height: 100px;
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}
